

<HTML>

<head>
<script>
var map;
var line;
var currentRoute;
var leftLine;
var rightLine;
var AP = 0;
var BP = 100;
var removedRoute;
var aline;
var bline;
var markerA;
var markerB;
</script

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
<script>window.jQuery || document.write('<script src="{{
  url_for('static', filename='jquery.js') }}">\x3C/script>') 
  </script>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='test.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='loading.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='jquery-ui.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='jquery-ui.min.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='jquery-ui.theme.css') }}">
<link rel= "text/javascript" type= "text/css" href= "{{ url_for('static',filename='jquery-ui.js') }}">

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMRZn-B5chEqKJtJBeTekVDUTwLhjkWC0&callback=initMap">
</script>


</head>

<body>
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

	<script>
  $( function() {
    $( "#slider-range" ).slider({
      range: true,
      min: 3,
      max: 99,
      values: [ 50, 51 ],
      slide: function( event, ui ) {
        $( "#amount" ).val(ui.values[ 0 ] +"%" + " - " + ui.values[ 1 ]+"%" );
		cutRoute(ui.values[0],ui.values[1]);
		AP = ui.values[0];
		BP = ui.values[1];
      }
    });
    $( "#amount" ).val( $( "#slider-range" ).slider( "values", 0 ) +"%" +
      " - " + $( "#slider-range" ).slider( "values", 1 )+"%" );
	  

  } );
  
  $( document ).ready(function() {
    $('#loadingmessage').hide();
});
  
  </script>
<div id="map"></div>
<p class="accuP">
  <label for="amount">Remove part:</label>
  <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
</p>

<div id = "loadingmessage" class="loading">Loading&#8230;</div>

<div id="slider-range"> </div>

<select id = "route" name="event" onChange = "selectRoute()">
 <option value="1">Route 1</option>
 <option value="2">Route 2</option>
 <option value="3">Route 3</option>
</select>

<input type = "button" value= "Predict" onClick = "predictRoute()"> <br>

<label for="probability">Probability:</label>
<input type="text" id="probability" readonly style="border:0; color:#f6931f; font-weight:bold;">
<label for="Similarity">Similarity:</label> 
<input type="text" id="Similarity" readonly style="border:0; color:#f6931f; font-weight:bold;">
<!-- Replace the value of the key parameter with your own API key. -->

</body>
	</HTML>